<h3><%= @group.name %></h3>
<p>Memberships: <%= @group.registered_memberships.count %></p>
<% @group.members.group_by(&:class).map do |type, members| %>
  <h4><%= link_to(pluralize(members.size, type.to_s), polymorphic_path(type)) %></h4>
  <ol>
  <% members.each do |member| %>
    <% name_attr = member.attribute_names.detect{|m_attr| m_attr =~ /name/} %>
    <% if name_attr %>
    <li><%= link_to(member.send(name_attr), polymorphic_path(member)) %></li>
    <% end %>
  <% end %>
  </ol>
<% end %>
